*.psd filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
Archivos filter=lfs diff=lfs merge=lfs -text
de filter=lfs diff=lfs merge=lfs -text
Photoshop filter=lfs diff=lfs merge=lfs -text
Texturas filter=lfs diff=lfs merge=lfs -text
PNG filter=lfs diff=lfs merge=lfs -text
(si filter=lfs diff=lfs merge=lfs -text
no filter=lfs diff=lfs merge=lfs -text
son filter=lfs diff=lfs merge=lfs -text
UI) filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
pequeñas filter=lfs diff=lfs merge=lfs -text
para filter=lfs diff=lfs merge=lfs -text
grandes filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
JPG filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
TGA filter=lfs diff=lfs merge=lfs -text
3D filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
Modelos filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
Blender filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
Escenas filter=lfs diff=lfs merge=lfs -text
Unity filter=lfs diff=lfs merge=lfs -text
(pueden filter=lfs diff=lfs merge=lfs -text
crecer filter=lfs diff=lfs merge=lfs -text
mucho) filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
(como filter=lfs diff=lfs merge=lfs -text
pueden filter=lfs diff=lfs merge=lfs -text
ser filter=lfs diff=lfs merge=lfs -text
Algunos filter=lfs diff=lfs merge=lfs -text
assets filter=lfs diff=lfs merge=lfs -text
Textures, filter=lfs diff=lfs merge=lfs -text
Meshes, filter=lfs diff=lfs merge=lfs -text
Animations) filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
audio filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
(especialmente filter=lfs diff=lfs merge=lfs -text
si filter=lfs diff=lfs merge=lfs -text
están filter=lfs diff=lfs merge=lfs -text
comprimidos) filter=lfs diff=lfs merge=lfs -text
el filter=lfs diff=lfs merge=lfs -text
proyecto) filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Videos filter=lfs diff=lfs merge=lfs -text
tienes filter=lfs diff=lfs merge=lfs -text
alguno filter=lfs diff=lfs merge=lfs -text
en filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.ma filter=lfs diff=lfs merge=lfs -text
*.mb filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.aif filter=lfs diff=lfs merge=lfs -text
*.aiff filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.physicmaterial filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
